

/*slider*/
  html, body {
    font-family : system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue;
      position: relative;
      height: 100%;
      border-top:3px solid #258cc8;

    }
    body {
      background: #eee;



      font-size: 14px;
      color:#000;
      margin: 0;

      padding: 0;
    }
    .swiper-container {
     
      width: 100%;
      height: 80vh;
      background: white;
    }
    .swiper-slide {
      font-size: 18px;
      color:#fff;
      background: rgba(33, 103, 120, .3);
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 40px 60px;
    }
    .parallax-bg {
      position: absolute;
      left: 0;
      top: 0;
      width:100%;
      height: 100%;
      background-size: cover;
     background-position: center;
    }
    .swiper-slide .title {
      font-size: 41px;
      font-weight: 300;
    }
    .swiper-slide .subtitle {
      font-size: 21px;
    }
    .swiper-slide .text {
      font-size: 14px;
      max-width: 400px;
      line-height: 1.3;
    }

/* slider */


div.Header{
	color: black

}


div.Header nav.Menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;

}


div.Header nav.Menu {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;

}


div.Header nav.Menu img {
    width: 15%;
    height: 5%;
    padding: 1%;

}


div.Header nav.Menu ol {
    margin: 0;
    font-size: 20px;
    width: 20%;
    height: 10%;
    padding-top: 2%;

}


div.Header nav.Menu ol :hover {
    color:#258cc8;
    border-bottom: 2px solid #258cc8;

}


div.Header nav.Menu ol a {
    text-decoration: none;
    cursor: pointer;
    margin: 0;

}
body div.main_section div.history {
    text-align: center;
    margin: 0 5%;

}
body div.main_section div.history h3 {
    color: rgb(41, 79, 128);

}
body div.main_section div.val {
    text-align: center;
    color: rgb(41, 79, 128);

}
body div.main_section div.val div.son {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;

}
body div.main_section div.val div.son h4 {
    padding-top: 3%;
    color: black;

}
body div.main_section div.val img {
    width: 70%;
    margin:2% 0;

}
body div.main_section h3 {
    text-align: center;
    padding-top: 3%;

}
body div.main_section img {
    width: 10px;
    padding: 5px;

}
body div.main_section  .icon_mission {
    border-radius: 100px;
    width: 10%;
    text-align: center;
    background: rgba(20, 36, 51, .5);

}
body div.main_section  .icon_mission img {
    width: 50px;

}
body div.main_section .card_mission {
    color: rgb(41, 79, 128);
    margin: 2% 0;
    padding: 1% 0;
    display: block;
    font-size: 15px;
    background:rgba(204, 209, 214, .7);

}
body div.main_section .card_mission div.element2 {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;

}
body div.main_section .card_mission div.element2 .icon_mission {
    margin-left: 3%;

}
body div.main_section .card_mission div.element2 .text_mission {
    margin: 0 10%;

}

 body div.servicies{
  margin:3% 0;
     text-align: center;
   color:  rgb(41, 79, 128)
     
         }

 body div.servicies div.servi {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;

}

 body div.servicies div.servi div.card {
    margin: 2% 0;

}

 body div.servicies div.servi div.card button {
    border: none;

}

 body div.servicies div.servi div.card img {
    width: 100%;
    height: 50%;

}

 body div.servicies div.servi .card1 {
    border: 5px solid #ffa500;

}

 body div.servicies div.servi .card1 button {
    background: #ffa500;

}

 body div.servicies div.servi .card2 {
    border: 5px solid #1ec24a;

}

 body div.servicies div.servi .card2 button {
    background: #1ec24a;

}

 body div.servicies div.servi .card3 {
    border: 5px solid #1ec28e;

}

 body div.servicies div.servi .card3 button {
    background: #1ec28e;

}

 body div.servicies div.servi .card4 {
    border: 5px solid #a91343;

}

 body div.servicies div.servi .card4 button {
    background: #a91343;

}

 body div.servicies div.servi .card5 {
    border: 5px solid #007bff;

}

 body div.servicies div.servi .card5 button {
    background: #007bff;

}

 body div.servicies div.servi .card6 {
    border: 5px solid #0e5051;

}

 body div.servicies div.servi .card6 button {
    background: #0e5051;

}

 body div.servicies div.servi .card7 {
    border: 5px solid #258cc8;

}

 body div.servicies div.servi .card7 button {
    background: #258cc8;

}

 body div.servicies div.servi .card8 {
    border: 5px solid #7d0784;

}

 body div.servicies div.servi .card8 button {
    background: #7d0784;

}

 body div.servicies div.servi .card9 {
    border: 5px solid #ded123;

}

 body div.servicies div.servi .card9 button {
    background: #ded123;

} 
         body div.contact{
          padding:3%;
          background: #272727;
          color: white
        

         } 
         body div.contact h3.title_contact {
    text-align: inherit;
    border-bottom: 2px solid #258cc8;

}
