

:root{
--cero : 0;
--varr : 20%;
--colorprincipal-opaco: rgb(33, 103, 120, 0.3);
--colormain :#258cc8;
--azuloscuro:rgb(41, 79, 128);
--naranja:#ffa500;
--verde : #1ec24a;
--agua : #1ec28e;
--vino : #a91343;
--azul : #007bff;
--Voscuro : #0e5051;
--violeta : #7d0784;
--amarillo : #ded123;
}
/*slider*/
  html, body {
    font-family : system-ui ;
      position: relative;
      height: 100%;
      border-top:3px solid var(--colormain);

    }
    body {
      background: #eee;



      font-size: 14px;
      color:#000;
      margin: 0;

      padding: 0;
    }
    .swiper-container {
     
      width: 100%;
      height: 80vh;
      background: white;
    }
    .swiper-slide {
      font-size: 18px;
      color:#fff;
      background: rgb(33, 103, 120, 0.3);
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 40px 60px;
    }
    .parallax-bg {
      position: absolute;
      left: 0;
      top: 0;
      width:100%;
      height: 100%;
           -webkit-background-size: cover;
      background-size: cover;
     background-position: center;
    }
    .swiper-slide .title {
      font-size: 41px;
      font-weight: 300;
    }
    .swiper-slide .subtitle {
      font-size: 21px;
    }
    .swiper-slide .text {
      font-size: 14px;
      max-width: 400px;
      line-height: 1.3;
    }

/* slider */


div.Header{
	color: black;
	& nav.Menu{
	display: flex;
    justify-content: space-evenly;

	} 
	& nav.Menu{
    align-items: flex-end;
	& img{
		width: 15%;
	    height: 5%;
	    padding: 1%;
	}
		& ol{
	    margin: var(--cero);
	    font-size: 20px;
	    width: 20%;
	    height: 10%;
	    padding-top: 2%;
	    	& :hover{
	   		color:var(--colormain);
	   		border-bottom: 2px solid var(--colormain);
	   	} 
	   & a{
text-decoration: none;
		cursor: pointer;
		 
		margin: var(--cero);
    	}

	}
	
	}

}
body div.main_section{

   & div.history{
text-align: center;
margin: 0 5%;
& h3{
  color: var(--azuloscuro);
}

    }
       & div.val{
          text-align: center;
          color: var(--azuloscuro);
          & div.son {
            display: flex;
              justify-content: space-around;
             
          & h4{
             padding-top: 3%;
              
              color: black;
      }}
 & img{
              width: 70%;
              margin:2% 0;
              }
    
    
    } 
  & h3{
		    text-align: center;
       padding-top: 3%;
	} & img{
    
       width: 10px;
    padding: 5px;
  }
  &  .icon_mission{
          border-radius: 100px;
          width: 10%;
          text-align: center;
          background: hwb(210,8%,80%, 0.5);
          & img{
          width: 50px;
          }
  } & .card_mission{
        color: rgb(41, 79, 128);
        margin: 2% 0;
        padding: 1% 0;
        display: block;
        font-size: 15px;
        background:hwb(210,80%,16%, 0.7);
          & div.element2{
            text-align: center;
          display: flex;
          justify-content: space-around;
          & .icon_mission{
                margin-left: 3%;
           }
           & .text_mission{
                margin: 0 10%;

           }
          }
    }
  
}

 body div.servicies{
  margin:3% 0;
     text-align: center;
   color:  var(--azuloscuro);
     & div.servi{
      display: flex;
      justify-content: space-around;
      & div.card{
          
            margin: 2% 0;

                  & button{
                  border: none;}
                  & img{
                  width: 100%;
                 height: 50%;
                  } } 
      & .card1{border: 5px solid var(--naranja);& button{background: var(--naranja);}}
      & .card2{border: 5px solid var(--verde);& button{background: var(--verde);}}
      & .card3{border: 5px solid var(--agua);& button{background: var(--agua);}}
      & .card4{border: 5px solid var(--vino);& button{background: var(--vino);}}
      & .card5{border: 5px solid var(--azul);& button{background: var(--azul);}}
      & .card6{border: 5px solid var(--Voscuro);& button{background: var(--Voscuro);}}
      & .card7{border: 5px solid var(--colormain);& button{background: var(--colormain);}}
      & .card8{border: 5px solid var(--violeta);& button{background: var(--violeta);}}
      & .card9{border: 5px solid var(--amarillo);& button{background: var(--amarillo);}}

     }
     
         } 
         body div.contact{
          padding:3%;
          background: #272727;
          color: white;
        & h3.title_contact{
text-align: inherit;
border-bottom: 2px solid var(--colormain);
        }
        

         }
